<%- include('head', { title: 'Rammaze' }) %>
<h1>Login</h1>
<%- message %>
Try accessing <a href="/restricted">/restricted</a>, then authenticate with your useranme and password.
<form action="/login" method="post">
    <p>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" minlength="6">
    </p>
    <p>
        <input type="submit" value="Login">
    </p>
</form>
<%- include('foot') %>